[Desktop Entry]
Version=1.0
Type=Application
Name=ADMDynAnlz
Comment=Atomistic dynamics analysis workflow generator
Exec=/media/adam/adam2/repos/a2_MSD_source/dist/ADMDynAnlz_Linux
Icon=/media/adam/adam2/repos/a2_MSD_source/dist/ADMDynAnlz_Linux.png
Terminal=false
Categories=Science;Education;
StartupWMClass=ADMDynAnlz
Keywords=molecular;dynamics;analysis;MSD;NGP;dipole;velocity;
